@media only screen and (max-width: 768px) {
    body {
      font-size: 16px; 
      background-color: rebeccapurple;
    }
    .class1, .class2, .class3 {
      width: 60%; 
      margin-left: auto;
      margin-right: auto;
    }
    .article1, .article2, .article3 {
      margin: 10px; 
    }
  }