*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif

}
body{
    height: 100vh;
}
.logo::before{
    content:"<logo>";
    font-size: 2rem;
    color: black;
    padding:5px;
    display: flex;

}
.logo{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first{
    background-color: #9688a0;
    padding: 5px;
    
}
#container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: bisque;
    

}
nav{
    flex-direction: column;
    display: flex;
    align-items: start;
    padding: 10px;
    margin-top: 10px;
    flex:1;
}

nav>ul>li>a{
    color: #2b2b2b;
    list-style: none;
    text-decoration: none;
}
nav>ul>li{
    list-style: none;
    align-items: start;
    justify-content: space-between;
    padding: 10px
}
nav>ul>li>a:hover{
    color:#2b2bb2;
    transition: 0.3s;
}
.avatarname{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

